* {
  margin: 0;
  padding: 0;
}
.container {
  width: 83%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
body {
  background: #000;
}
#header {
  padding: 58px 0;
  position: sticky;
  top: 0;
  z-index: 98;
  backdrop-filter: blur(5px);
}
.header-nav a:hover {
  color: #0c76d8;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  height: 62px;
  border-radius: 12px;
  border: 3px solid #f00;
  background: rgba(121, 116, 116, 0.1);
  backdrop-filter: blur(7.5px);
}
.header img {
  margin: 0 21px;
}
.header-nav a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0 35px;
}
.header-nom h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 46px;
  border-radius: 7px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 0 11px;
}
#hero {
  padding: 40px 0;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-text h1 {
  color: #fff;
  font-size: 144px;
  font-weight: 700;
  letter-spacing: 9.36px;
}
.hero-div {
  width: 312.026px;
  height: 3px;
  background: #f00;
}
.hero-text h2 {
  color: #fff;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 2.145px;
  margin: 12px 0 35px 0;
}
.hero-btn {
  width: 160px;
  height: 40px;
  border-radius: 27px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.91px;
}
.hero-text p {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.56px;
  margin: 35px 0;
}
.hero-bec1 {
  position: absolute;
  left: -10%;
  bottom: -60%;
}
.hero-bec2 {
  position: absolute;
  left: 56%;
  bottom: -85%;
}
#about {
  padding: 130px 0;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-div {
  width: 180px;
  height: 3px;
  background: #f00;
}
.about-text h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.6px;
  margin: 4px 0 25px 0;
}
.about-text p {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.56px;
}
.about-ion {
  position: absolute;
  left: 4%;
  bottom: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  width: 53px;
  height: 53px;
  background: #f00;
}
.about-foto-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-foto {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-foto h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.56px;
  margin: 18px 0 2px 0;
}
.foto1-div {
  width: 94.085px;
  height: 2px;
  background: #f00;
}
.foto2-div {
  width: 121px;
  height: 2px;
  background: #f00;
}

.redizain-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 0;
}
.modul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modul-div {
  width: 232px;
  height: 3px;
  background: #f00;
}
.modul h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.95px;
  margin: 19px 0;
}
.modul p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.17px;
}
.btn-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dizain-btn {
  width: 176px;
  height: 44px;
  border-radius: 27px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.91px;
}
.hend {
  position: relative;
}
.hend1 {
  position: absolute;
  left: -10%;
  bottom: -680px;
}
.hend2 {
  position: absolute;
  left: 55%;
  bottom: -610px;
}
#portfolio {
  padding: 400px 0 0 0;
}
.portfolio-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
}
.portfolio-div {
  width: 364px;
  height: 3px;
  background: #f00;
}
.portfolio-main h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.6px;
  margin: 4px 0;
}
.portfolio {
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 40px 0;
}
.portfolio-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 0 87px; */
}
.portfolio-text p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.17px;
}
.portfolio-text button {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.17px;
  width: 206px;
  height: 57px;
  border-radius: 51px;
  background: #f00;
  margin: 50px 0;
}
.portfolio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-btn button {
  width: 176px;
  height: 44px;
  border-radius: 27px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.91px;
}
.portfolio {
  position: relative;
}
.portfolio-im1 {
  position: absolute;
  left: -1%;
  bottom: -492%;
}
.portfolio-im2 {
  position: absolute;
  left: 46%;
  bottom: -497%;
}
#reviews {
  padding: 380px 0 0 0;
}
.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.reviews-div {
  width: 250px;
  height: 3px;
  background: #f00;
}
.reviews h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.6px;
  margin: 4px 0 88px 0;
}
.ion-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 11%;
  bottom: 47%;
  width: 67px;
  height: 67px;
  background: #ff0000;
  color: #fff;
  border-radius: 50%;
}
.ion-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 85%;
  bottom: 47%;
  width: 67px;
  height: 67px;
  background: #ff0000;
  color: #fff;
  border-radius: 50%;
}
/* .comments {
  background: url(./img.ux/image\ 2.png);
  background: url(./img.ux/image\ 3.png);
  
} */
.comments {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comments button {
  width: 176px;
  height: 44px;
  border-radius: 27px;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.91px;
  margin: 60px 0;
}
